*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}



.container{
    
    width:380px;
    padding:30px;
    border-radius: 10px;
    margin:50px auto;
    background: linear-gradient(130deg,rgb(86,86,235),rgb(5,5,199));
    height: 100vh;
   
}
.form-container{
    width:400px;
    padding: 20px;
    background-color: #091060;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.1)
}

h1{
    text-align: center;
    color:bisque;
}

.form-group {
    margin-bottom: 20px;
    color:bisque;
    background-color:rgb(60, 59, 63);
}
label {
    font-weight: bold;
}
.form-control{
    width:100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:bisque;
    background-color: rgb(60, 59, 63);
}
.form-check  .form-check-label{
    color:bisque;
    background-color: rgb(60, 59, 63)
}
.form-check-input{
    color:#0d4f6c;
}
.btn-primary {
    width: 100%;
}
@media (max-width: 768px) {
  body,
  html {
    background-size: contain; /* Ajustar la imagen de nubes al tamaño del contenido */
    background-position: center; /* Centrar la imagen de nubes */
  }
}
